<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="contact" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Profil</b></h1>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
              </div>
              <div class="team-content">
                <h3 class="name">{{username}}</h3>
                <h4 class="title">Connected</h4>
              </div>
              <ul class="social">
               
                <li><a  class="fas fa-building" aria-hidden="true"> {{department}}</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
              <div class="profile-header">
                <h3><span>User info</span></h3>
                <a href="#" class="btn btn-primary edit-profile">
                  <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                </a>
              </div>
              <ul>

                <div class="row profile-user-info">
                  <div class="col-sm-8">
                    <div class="profile-user-details clearfix">
                        
                      <div class="profile-user-details-value">
                        Username : {{username}}
                      </div>
                      
                    
                        
                      </div>
                    <div class="profile-user-details clearfix">
                      <div class="profile-user-details-label">
                        Address : 
                      </div>
                      <div class="profile-user-details-value">
                        ENfidha Hammamet International Airport 4030,
                        <br> Sousse , Tunisia
                      </div>
                    </div>
                    <div class="profile-user-details clearfix">
                      <div class="profile-user-details-label">
                        Site web : 
                      </div>
                      <div class="profile-user-details-value">
                       www.tavtunisia.com
                      </div>
                    </div>
                    
          
                </div>
                </div>
                

              </ul>
            </div>
        </div>

          </div>
          
        </div>
      </div>